body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 52px;
    color: rgb(92, 86, 86);
    font-weight: 900;
}
h2{
    font-size: 25px;
    font-weight: 600px;
    color: rgb(92, 86, 86);  
}
h3{
    font-size: 18px;
    font-weight: 800;
}
.hero_section{
    display: flex;
}
.half_width{
    width: 50%;
    padding: 90px 140px;
    padding-right: 0px;
}
.highlighted_text{
    color: #fc8f49;
}
.btn{
    background-image: linear-gradient(#fc8f49,#fe492e);
    padding: 10px 25px;
    border-radius: 22px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    display: inline-block;
}
.hero_model{
    width: 100%;
    margin-top: -80px;
    margin-left: -85px;
}
.about_section{
    display: flex;
    background-image: url(images/shapes/7.png );
    background-repeat: no-repeat;
}
.about_section .half_width{
    padding: 100px 100px;
}
.model_about{
    width: 70%;
    margin-left: 60px;
}
.about_section .half_width h2{
    margin-top: 50px;
}
.about_section_btn{
    margin-top: 40px;
}
.recipie_section{
    padding-bottom: 50px;
}
.recipie_text{
    text-align: center;
    margin-bottom: 50px;
}
.our_recipie{
    display: flex;
    margin: 0 80px;
}
.recipie_card{
    width: 33%;
    margin: 0px 30px;
    box-shadow: 5px 5px 15px grey;
    padding: 18px 18px;
    border-radius: 25px;
}
.recipie_card img{
    width: 100%;
}
.footer_wraper{
    background-color: #000;
    text-align: center;
    padding: 40px 0px;
}
.right_space{
    margin-right: 10px;
}
.footer_paragraph{
    color: #fff;
}
#copyright{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
}